@import '../../../sass/app.scss';

.input,
.input:hover {
    width: 272px;
    color: $grey;
    margin: 10px !important;
}
.inline-input {
    width: 272px;
    color: $grey;
    margin: 10px !important;
    display: block !important;
}

.icon-class {
    color: $grey;
}

.css-label,
.css-label:hover {
    color: $grey;
    z-index: 10 !important;
}
label.css-padding-left {
    padding-left: 30px;
}
.css-focused {
    border-color: $grey;
}

.css-outlined-input,
.css-outlined-input:hover {
    border-color: $grey;
}

.css-underline {
    border-bottom-color: $grey;
}

.btn-main {
    color: $white !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    flex-grow: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #007ac4 0%, #02507e 100%);
    border-radius: 4px;
}

.btn-main-secundary {
    background: #03c9f1 !important;
    box-shadow: none !important;
    color: #fff !important;
    border-radius: 4px !important;
    width: 144px !important;
    height: 40px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    &:disabled {
        background-color: #ccc !important;
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

button.secondary {
    @extend .btn-main-secundary;
    background-color: #fff !important;
    color: #03c9f1 !important;
    border: 1px #03c9f1 solid !important;
}

.new-property-active button {
    background: #e5e5e5 !important;
}
.checkbox-white,
.checkbox-white:checked {
    border-color: $grey !important;
    color: $grey !important;
    margin-left: 10px !important;
}
.search-input {
    width: 90%;
}

p.main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;

    color: #ababab;
}

.custom-checkbox {
    color: #ababab !important;
}

.file-display {
    display: flex;
    align-items: center;
    a {
        color: #03c9f1;
    }
    svg {
        padding-right: 20px;
    }
}

.custom-radio-root {
    color: #cccccc;
}

.height-75 {
    min-height: 75px;
}
.height-100 {
    min-height: 100px;
}

p.error-text {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
}
