// Body
$grey: #e5e5e5;
$white: #fff;
$blue: #014971;
$light-grey: #ababab;

$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
