@import '../../../sass/app.scss';
.login-main {
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
}

.pic-main {
    height: 100vh;
    background: url(pic_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.center-logo {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -80px; /* the 1/2 size of the logo */
}

.help-text {
    position: absolute;
    width: 208px;
    height: 40px;
    right: 88px;
    top: 72px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: right;

    color: $light-grey;
}

.phone-text {
    color: $blue;
    cursor: pointer;
}

.login-form {
    width: 272px;
    height: 272px;
    position: relative;
    top: 40%;
    left: 20%;
}

.forgot-password-div {
    top: 40%;
    right: 88px;
    position: relative;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    text-transform: uppercase;

    color: $blue;
    cursor: pointer;
}

.error-text {
    margin-left: 20px !important;
}
