.loading-div {
    position: relative;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
}
.loading-circle {
    svg {
        color: #014971 !important;
    }
    text-align: center;
    justify-content: center;
}
a,
a:hover {
    text-decoration: none;
}
.bg-dashboard {
    background: #fff;
}

.menu-header {
    background: #013f64;
    div {
        text-align: center;
        top: -19px;
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 22px;

        color: #027ca4;
    }
}

.bg-menu {
    /* Blue_pimary */
    background: #014971;
    padding-top: 50px;
}

.full-screen-height {
    height: 100%;
    min-height: 100vh;
}

.menu-logo {
    height: 125px;
    text-align: center;
    margin: auto;
}

.menu-up {
    background-color: #fff;
    min-height: 70px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
    margin-bottom: 8px;
    padding-left: 20px;
    height: 96px !important;
}

.main-content {
    padding-left: 40px;
    padding-top: 50px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-10 {
    padding-right: 10px;
}

.sidebar-menu {
    max-width: 250px;
    padding-top: 20px;
    color: #027ca4;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}
.sidebar-menu-small {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

.menu-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.square-icon {
    border: 2px solid #027ca4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 10%;
}
.menu-item:hover {
    .square-icon {
        border-color: #fff;
    }
    a {
        color: #fff;
        text-decoration: none;
        svg path {
            stroke: #fff;
        }
    }
}
.menu-item {
    min-height: 60px;
    justify-content: center;
    color: #027ca4;
    a {
        color: #027ca4;
        svg path {
            stroke: #027ca4;
        }
    }
}
a.menu-item-selected {
    color: #fff;
    :hover {
        text-decoration: none;
    }
    svg path {
        stroke: #fff;
    }
}

.icon-color-content {
    path {
        stroke: #027ca4 !important;
    }
}

.menu-item:hover,
.menu-item-active {
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.content-title {
    text-transform: capitalize;
    color: #000000;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}

.main-content-action,
a.main-content-action {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    color: #03c9f1;
    cursor: pointer;
}

.table-wrapper {
    width: 98%;
}
table.custom-table {
    td {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #eeeeee;
    }
    th {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #eeeeee;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 10 !important;

        color: #000000;
    }
    tr {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #eeeeee;
    }
}

.form-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    text-align: center;
}
.form-div-expanded {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
}
.full-width {
    width: 100% !important;
    min-width: 100% !important;
}
.full-height {
    height: 100% !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.sub-header-text {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 20px;
}
.sub-header-extra-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.success-text {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px; /* or 67% */
    text-align: center;

    color: #014971;
}

.modal-body {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; /* or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100px;
    justify-content: center;

    color: #404040;
}

.in-the-center {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.in-the-center-with-margin {
    margin-left: auto !important;
    margin-right: auto !important;
}
.in-the-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add-new-property {
    width: 100% !important;
    height: 100% !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center !important;
    text-transform: uppercase !important;
    background: #03c9f1 !important;
    box-shadow: none !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 10px !important;
    margin: auto;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    max-width: 80%;
    margin: auto;
    padding-left: 30px;
    a {
        color: #03c9f1;
    }
}

@media screen and (max-height: 300px) {
    .footer {
        display: none;
    }
}

.required-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    width: 100%;
    color: #ababab;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}

.padding-right-20 {
    padding-right: 20px;
}

.extension-panel {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08) !important;
}
.quote-view {
    cursor: pointer;
    p {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    hr.extra-margin {
        margin-bottom: 40px !important;
    }
    p.extra-padding {
        padding-bottom: 40px !important;
    }
    h4 {
        color: #03c9f1 !important;
    }
    .info-icon {
        position: relative;
        width: 30px;
        left: 10px;
        path {
            fill: #e5e5e5;
        }
    }
}

.quote-panel {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08) !important;
    padding-top: 20px;
    padding-bottom: 30px;
    .program-select-div {
        margin-bottom: 20px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .total {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
    }
    p {
        span {
            color: #cccccc;
            min-height: 25px;
        }
    }
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
        color: #404040;
    }
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    hr {
        width: 90% !important;
        background: #027ca4 !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        min-height: 2px !important;
    }
    div.info-text {
        width: 90%;
        margin-top: 20px;
        border-top: 1px dotted #e5e5e5;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 16px;
            color: #ababab;
        }
    }
    div.price-div {
        max-width: 60%;
        display: flex;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;
        input {
            text-align: center !important;
        }
        span {
            color: #cccccc;
            display: inline-block;
            padding-right: 5px;
        }
    }
}

.quote-view-selected {
    @extend .quote-panel;
    @extend .quote-view;
    background-color: #014971;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    p {
        color: #027ca4;
    }
    strong,
    h3 {
        color: #fff;
    }
    hr {
        border: none;
    }
    p.total {
        color: #027ca4;
    }
    h4 {
        color: #fff !important;
    }
    circle {
        fill: #027ca4;
    }
    .info-icon svg path {
        fill: rgba(3, 201, 241, 0.16);
    }

    div.info-text {
        border-top: 1px dotted #027ca4;
        span {
            color: #027ca4;
        }
    }
}
.quote-include {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px; /* or 133% */

    color: #404040;
}
.quote-submit {
    margin-top: 40px;
    #quote-info {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px; /* or 200% */
        text-align: left !important;
        color: #404040;
    }
}
.quote-submit button#quote-submit-button {
    color: #fff !important;
    width: 80% !important;
    min-width: 80% !important;
}

div#interaction-history {
    max-width: 60%;
    width: 60%;
    text-align: left;

    p {
        font-style: normal;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #014971;
    }
    #chat-history {
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 10px;
        padding: 15px;
    }
    #send-message {
        position: relative;
        top: -50px;
        padding-right: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #03c9f1;
        cursor: pointer;
    }
    #interaction-textarea {
        text-align: right;
        max-width: 100% !important;
        margin: 0 !important;
    }
    #interaction-input {
        textarea {
            left: 0 !important;
            position: relative;
            height: auto !important;
            margin-bottom: 10px;
        }
        textarea[aria-hidden='true'] {
            display: none;
        }
    }
    .interaction-item {
        text-align: right;
        p.interaction-item-from {
            text-align: right;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;

            color: #000c13;
        }
        .interaction-message {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            text-transform: none;
            color: #ababab;
        }
        time {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px; /* or 171% */
            text-align: right;

            color: #e5e5e5;
        }
    }
}
.request-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #ababab;

    span {
        color: #03c9f1;
        text-transform: uppercase;
    }
}
.fix-textarea {
    textarea {
        left: 0 !important;
        position: relative;
        height: auto !important;
        margin-bottom: 10px;
    }
    textarea[aria-hidden='true'] {
        display: none;
    }
}
div#submission-summary {
    text-align: left;
    p.no-capitalize {
        text-transform: none;
        span {
            color: #000 !important;
        }
    }
    p.add-a-lot-of-margin-on-the-top {
        margin-top: 200px;
    }

    p {
        @extend .request-info;
    }

    #submission-textarea {
        text-align: left;
        max-width: 100% !important;
        margin: 0 !important;
        display: flex;
        align-items: flex-end;
    }
    #submission-input {
        width: 70%;
        padding-right: 20px;
        .no-margin-bottom {
            margin-bottom: 0px !important;
        }

        @extend .fix-textarea;
    }
}

.add-note {
    @extend .fix-textarea;
    p {
        @extend .request-info;
        text-align: left;
    }
    max-width: 70%;
    text-align: right;
    button#note {
        margin-top: 20px;
        max-width: 20%;
    }
}

.input-switch-bar {
    background-color: #dfd6d6 !important;
    border-radius: 200px !important;
}

.extension-panel-inner {
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #404040 !important;
}
.expansion-panel-title {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    text-transform: uppercase !important;

    color: #000c13 !important;
}

a.breadcrum-link {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #03c9f1;
}
a.breadcrum-link-selected {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #ababab;
}

div.summary {
    max-width: 98%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
    strong {
        font-style: bold;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: #000c13;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        color: #ababab;

        span {
            color: #03c9f1;
        }

        time {
            margin-top: 10px;
            display: block;
            font-size: 14px;
            line-height: 24px;
            color: #e5e5e5;
        }
    }
}

.bottom-dashed-line {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

#quotes-not-accepted {
    display: flex;
    align-items: flex-start;
    max-width: 80%;

    #quotes-not-accepted-messages {
        text-align: left;
        min-width: 80%;
        max-width: 80%;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px;
        margin-right: 20px;

        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #000c13;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;

            color: #ababab;
        }

        time {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;

            color: #e5e5e5;
        }
    }
}

#login-title {
    position: absolute;
    top: 10%;
    left: 5%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.table-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #03c9f1;
    cursor: pointer;
}
